div#board{

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    width: 1000px;
    height: 1000px;
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;

}

div#square{

    display: flex;
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
    background-color: rgb(246, 181, 200);
    border: 1px solid rgb(227, 10, 17);

}

button#promptUser{

    margin-bottom: 50px;

}