div#board{

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    width: 1000px;
    height: 1000px;
    margin: 0px;
    padding: 0px;
    background-color: white;
    

}

div#square{

    display: flex;
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
    background-color: white;
    border: 1px solid rgb(227, 10, 17);
    opacity: 0.3;

}

button#promptUser{

    margin-bottom: 50px;

}