div#board{

    display: flex;
    flex-wrap: wrap;

    min-width: 50px;
    min-height: 50px;
    background-color: aquamarine;
    border: solid rebeccapurple;

}

div#square{

    box-sizing: border-box;

    min-width: 10px;
    min-height: 10px;
    background-color: rgb(246, 181, 200);
    border: solid rgb(227, 10, 17);

}

button#promptUser{

    margin-bottom: 50px;

}